#content {
    max-width: 1600px;
    margin: 0 auto;
}

.welcome-msg{
    font-family: "Veranda", Arial, sans-serif;
    font-size: 2em;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    
    margin: 25px 25px 25px 25px;
    padding: 20px 80px 20px 80px;
    align-content: baseline;
    border: 5px solid #e4000f;
    background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    
}
nav a{
    color: #e4000f;
}
nav a:hover{
    color: #0070D1;
}
body{
    background-color: #e4000f;   
    background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
}
.infobanners{
    
    display: grid;
    grid-template-columns:  repeat(10, 1fr) ;
    
}
.card-img{
    align-content: right;
}
.nintendo-banner{
    grid-area: 2 / 1 / span 2 / span 3;
}
.card-img{
    max-width: 50%;
}


footer{
    display: grid;
    grid-template-columns: 150px auto;
    
    margin: 25px 25px 25px 25px;
    padding: 20px 80px 20px 80px;
    align-content: baseline;
    border: 5px solid #e4000f;
    background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
